@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7q89bt');
  src:  url('fonts/icomoon.eot?7q89bt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7q89bt') format('truetype'),
    url('fonts/icomoon.woff?7q89bt') format('woff'),
    url('fonts/icomoon.svg?7q89bt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-operator:before {
  content: "\e900";
}
.icon-delivery:before {
  content: "\e901";
}
.icon-truck:before {
  content: "\e902";
}
.icon-shipped:before {
  content: "\e903";
}
.icon-ruler-1:before {
  content: "\e904";
}
.icon-tool:before {
  content: "\e905";
}
.icon-pen:before {
  content: "\e906";
}
.icon-ruler:before {
  content: "\e907";
}
.icon-school-material:before {
  content: "\e908";
}
.icon-drawing:before {
  content: "\e909";
}
.icon-danger:before {
  content: "\e90a";
}
.icon-warning:before {
  content: "\e90b";
}
.icon-signs:before {
  content: "\e90c";
}
.icon-shapes:before {
  content: "\e90d";
}
.icon-checked:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e90f";
}
.icon-graphic:before {
  content: "\e910";
}
.icon-new-email-outline:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e912";
}
.icon-controls:before {
  content: "\e913";
}
.icon-settings-1:before {
  content: "\e914";
}
.icon-settings:before {
  content: "\e915";
}
.icon-zoom-out:before {
  content: "\e916";
}
.icon-zoom-in:before {
  content: "\e917";
}
.icon-clock:before {
  content: "\e918";
}
.icon-hourglass:before {
  content: "\e919";
}
.icon-alarm-clock-1:before {
  content: "\e91a";
}
.icon-alarm-clock:before {
  content: "\e91b";
}
.icon-time:before {
  content: "\e91c";
}
.icon-trash:before {
  content: "\e91d";
}
.icon-atm-1:before {
  content: "\e91e";
}
.icon-atm:before {
  content: "\e91f";
}
.icon-money-1:before {
  content: "\e920";
}
.icon-money:before {
  content: "\e921";
}
.icon-credit-card:before {
  content: "\e922";
}
.icon-market:before {
  content: "\e923";
}
.icon-bag:before {
  content: "\e924";
}
.icon-black:before {
  content: "\e925";
}
.icon-search:before {
  content: "\e926";
}
.icon-add:before {
  content: "\e927";
}
.icon-cross-out:before {
  content: "\e928";
}
.icon-mark:before {
  content: "\e929";
}
