/*內容*/
#body_content {
    padding: 0px;
}

/*置底*/
footer {
    position: static;
    bottom: 0;
    width: 100%;
    /*height: 230px;!* Height of the footer *!*/
    /*background-color:#f0f0f0;
    border-top:1px solid #e2e2e2;*/
    background-color: #35475d;
    padding: 0px 0 0 0;
}